node_modules

ClientApp/.gradle/2.2.1/taskArtifacts/fileHashes.bin

ClientApp/.gradle/2.2.1/taskArtifacts/cache.properties.lock

ClientApp/.gradle/2.2.1/taskArtifacts/cache.properties

ClientApp/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin

ClientApp/.gradle/2.2.1/taskArtifacts/outputFileStates.bin

TapEat-Client/.gradle/2.2.1/taskArtifacts/outputFileStates.bin

TapEat-Client/.gradle/2.2.1/taskArtifacts/cache.properties

TapEat-Client/.gradle/2.2.1/taskArtifacts/outputFileStates.bin

TapEat-Client/.gradle/2.2.1/taskArtifacts/cache.properties

TapEat-Client/.gradle/2.2.1/taskArtifacts/cache.properties

TapEat-Client/.gradle/2.2.1/taskArtifacts/outputFileStates.bin

ClientApp/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin

TapEat-Client/.gradle/2.2.1/taskArtifacts/outputFileStates.bin

TapEat-Client/.gradle/2.2.1/taskArtifacts/cache.properties

TapEat-Client/.gradle/2.2.1/taskArtifacts/cache.properties
